<div class="container--slim">
  <div class="article-content">
    <p class="hide--mobile">
      <img
        src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Desktop_V1.png?v=1660154097"
        alt=""
      >
    </p>
    <p class="hide--desktop">
      <img
        src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Mobile_V1.png?v=1660226180"
        alt=""
      >
    </p>
    <p>
      Looking to switch up your snack routine without ruining your diet? Here’s
      7 smart swaps to help you stay on track.
    </p>
    <p>
      <span style="font-weight: 400;"
        >Get ready to skip salad tonight because these deliver on being </span
      ><span style="text-decoration: line-through;">low carb</span
      ><span style="font-weight: 400;"> nearly no carbs yet high flavor. </span>
    </p>
  </div>
  {% for block in section.blocks %}
    <div class="block-item">
      <div class="image-with-text">
        <div class="image-content">
          <img
            src="{{ block.settings.image | img_url: '800x' }}"
            alt="{{ block.settings.image.alt }}"
          >
        </div>
        <div class="text-content">
          <div class="index">{{ forloop.index }}</div>
          <div class="title">{{ block.settings.title }}</div>
          <div class="subtitle">{{ block.settings.subtitle }}</div>
          <a href="{{ block.settings.btn_link }}" class="btn">
            {{- block.settings.btn_text -}}
          </a>
        </div>
      </div>
      <div class="mob-cta hide--desktop">
        <a href="{{ block.settings.btn_link }}" class="btn">
          {{- block.settings.btn_text -}}
        </a>
      </div>
      <div class="body-content">{{ block.settings.content }}</div>
    </div>
  {% endfor %}
  {% render 'also-like' %}
</div>

{% schema %}
{
  "name": "Best 7",
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Shop Now"
        }
      ]
    }
  ]
}
{% endschema %}
