
<div class="product-container container {% if is_free_gift_template %}free-gift-product-container{% endif %}">
  <div class="product-container__side product-container__side--left">
    <div class="product__part product__part--gallery">
      <div class="gallery swiper-container">
        <div class="swiper-wrapper">
          {% assign image_index = 0 %}
          {% for image in product.images %}
            {% if image.alt == "thumb_invisible" %}
              {% continue %}
            {% endif %}
            <div class="swiper-slide" data-index="{{ image_index }}">
              <div class="gallery__item-wrapper">
                {% comment %}<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="gallery__item lazy" alt="{{ image.alt | escape }}" data-src="{{ image | img_url: '560x' }}" data-srcset="{{ image | img_url: '560x' }} 1x, {{ image | img_url: '1120x' }} 2x" />{% endcomment %}
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                  class="gallery__item lazy"
                  alt="{{ image.alt | escape }}"
                  data-src="{{ image | img_url: '560x' }}"
                  data-srcset="{{ image | img_url: '600x' }}"
                >
              </div>
            </div>
            {% assign image_index = image_index | plus: 1 %}
          {% endfor %}
        </div>
        <div class="swiper__button swiper__button--next swiper__button-next--{{ section.id }}{% if desktop_no_sliding == true %} swiper-button--mobile-only{% endif %}">
          {% include 'icon', handle: 'next' %}
        </div>
        <div class="swiper__button swiper__button--prev swiper__button-prev--{{ section.id }}{% if desktop_no_sliding == true %} swiper-button--mobile-only{% endif %}">
          {% include 'icon', handle: 'prev' %}
        </div>
      </div>
      <div class="thumbs">
        {% assign image_index = 0 %}
        {% for image in product.images %}
          {% if image.alt == "thumb_invisible" %}
            {% continue %}
          {% endif %}
          <div class="thumbs__item" data-index="{{ image_index }}">
            <div class="thumbs__item-image-wrapper">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                class="thumbs__item-image lazy"
                alt="{{ image.alt | escape }}"
                data-src="{{ image | img_url: '200x200', crop: 'center' }}"
              >
            </div>
          </div>
          {% assign image_index = image_index | plus: 1 %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="product-container__side product-container__side--right">
    <div class="product__part product__part--form">
      <header class="product-header">
        <h1 class="product-header__title h6">
          {{ section.settings.title }}
        </h1>
        <h4 style="text-align: left;">{{ section.settings.subtitle }}</h4>



        <div class="feature-highlights" style="margin-bottom: 20px;">
          <img
            src="{{ section.settings.feature_highlights | img_url: '600x' }}"
            alt=""
          >
        </div>
      </header>

      <div class="product-header__description">
        {%- assign description = "" -%}
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when "dynamic_description" -%}
              {%- assign description = block.settings.description -%}
          {%- endcase -%}
        {% endfor %}
        {{ description | default: section.settings.description }}
      </div>



      <div class="product-option-row product-option-qty" style="display: none;">
        <div class="option-title">
          <div class="option-name">Choose Quantity:</div>
          <div class="option-subtitle">1 box contains 8 bags</div>
        </div>
        <div class="product-options">
          <div
            class="product-option product-option--selected"
            data-variant-id="{{ product.selected_or_first_available_variant.id  }}"
            data-variant-qty="1"
          >
            <div class="product-option__wrapper">
              <input
                type="radio"
                name="option-select"
                id="qty-option1"
                class="visually-hidden"
              >
              <label for="qty-option1" class="product-option__label">
                <span class="qty-title">1-Box</span>
                <span class="qty-description">$6.25 / Bag</span>
              </label>
            </div>
          </div>

        </div>
      </div>

      {%- comment -%}
        {% include 'beta-tester' %}
      {%- endcomment -%}



      <div class="cookie-form-text-wrap">
        <div class="cookie-text">
          <strong>Only <span>$8.75</span> per pack</strong>
        </div>
        <div class="price-wrap">
          <span class="price"><strong>$34.99</strong></span>
        </div>
      </div>

      <button
        name="button"
        id="add-to-cart"
        type="submit"
        class="btn btn-max-sweet-atc"
        value=""
        data-product-id="{{ product.selected_or_first_available_variant.id }}"
      >
        Add to Cart
      </button>

      <div class="accordion-wrap" style="margin-top: 25px;">
        {% for block in section.blocks %}
          {% if block.type == 'faq' %}
            <div class="accordion-panel">
              <h3 class="accordion-header">
                <span>{{ block.settings.faq_title }}</span>
                <span>{% render 'arrow-down' %}</span>
              </h3>
              <div class="accordion-body">
                {{ block.settings.faq_content }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <script id="variant__defaults" type="application/json">
      {
        "variety": {{ section.settings.variety_default_selected | json }},
        "bundle": {{ section.settings.bundle_default_selected | json }},
        "single": {{ section.settings.single_default_selected | json }},
        "single-sm": {{ section.settings.singlesm_default_selected | json }}
      }
    </script>
    <script id="variant__flavor_limits" type="application/json">
      {% assign bundles = section.blocks | where: "type", "bundle" %}
      {
      {% for bundle in bundles %}
        {%- if bundle.type == "bundle" -%}
        "{{bundle.settings.value}}": {{bundle.settings.flavor_limit}}{%- unless forloop.last -%},{%- endunless -%}
        {%- endif -%}
      {% endfor %}
      }
    </script>

    {%- if product.metafields.subscriptions.subscription_id -%}
      <script type="application/json" id="variant_per_bag">
        {% assign first = true %}
        {% for option in product.options %}
          {% assign option_dc =  option | downcase %}
          {% if option_dc == "size" %}
            {% assign oindex = forloop.index0 %}
            {
              {% for variant in product.variants %}
                {% assign opt_value = variant.options[ oindex ] | times: 1.0 %}
                {% if opt_value > 0 %}
                  {% assign once_price =  variant.price | divided_by: opt_value %}
                  {% assign subs_price =  variant.metafields.subscriptions.discount_variant_price | replace: ".", ""  | divided_by: opt_value %}
                  {% if first %}{% assign first = false %}{% else %},{% endif %}
                  "{{ variant.id }}": {
                    {% if is_alternate_template %}
                    "once":	"<span>{{ once_price | money }}</span>/bag",
                    "subs":	"<span>{{ subs_price | money }}</span>/bag"
                    {% else %}
                    "once":	"<span>Only</span> <span>{{ once_price | money }}</span> per bag",
                    "subs":	"<span>Only</span> <span>{{ subs_price | money }}</span> per bag"
                    {% endif %}
                  }
                {% endif %}
              {% endfor %}
            }
            {% break %}
          {% endif %}
        {% endfor %}
      </script>
    {%- endif -%}
  </div>
</div>



  <script>
    $(document).ready(function() {
      $("#cereal_popup").click(function() {
        alert();
      });
    });
  </script>

  <script
    src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"
  >
  </script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
  >
  {% schema %}
  {
    "name": "Product Upper",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "image_picker",
        "id": "feature_highlights",
        "label": "Feature Highlights"
      }
    ],
    "blocks": [
      {
        "type": "dynamic_description",
        "name": "Dynamic Description",
        "settings": [
          {
            "type": "text",
            "id": "product_handle",
            "label": "Product Handle",
            "info": "Must match the product handle you want it visible on"
          },
          {
            "type": "html",
            "id": "description",
            "label": "Description"
          }
        ]
      },
      {
        "type": "faq",
        "name": "FAQ Item",
        "settings": [
          {
            "type": "text",
            "id": "faq_title",
            "label": "FAQ Title"
          },
          {
            "type": "html",
            "id": "faq_content",
            "label": "FAQ Content"
          }
        ]
      }
    ]
  }
  {% endschema %}
</div>
