<link rel="stylesheet" type="text/css" href="https://cdn03.zipify.com/css/zipifypages.css">
<link rel="stylesheet" type="text/css" href="https://cdn03.zipify.com/c60cbb1f79f607b20a2be961e5bd0827c1299485/stylesheet/pages/0476fffaf2a180a1b6afc9c92eeaf9ed.css">

{% section 'product-upper-puffs-growltv' %}
{% section 'ytlander-section1' %}
{% section 'ytlander-section2' %}
{% section 'ytlander-section3' %}
{% section 'ytlander-section4' %}
{% section 'ytlander-section5' %}
{% section 'ytlander-section6' %}
{% section 'ytlander-section7' %}
{% section 'ytlander-section8' %}
{% section 'ytlander-section9' %}
{% section 'ytlander-section10' %}
{% section 'ytlander-section11' %}
{% section 'ytlander-section12' %}

{% comment %}
<div class="mobile-only-product-form">
  <h2 class="title">Pick your flavors</h2>
  {% section 'product-section-puff-2' %}
</div>
{% endcomment %}

<section class="js-cluster-wrapper zpa-headline-divider-092-v2 zpa-headline-divider-092 zp ba-40229714" data-id="40229714" id="8544158"><div class="js-cluster zpa-container zp cac-40229714"> <div class="flex-row"> <div class="xs-12"> <div class="zpa-headline-divider-container"> <div class="zpa-divider-style-solid zpa-divider-thickness-sm zpa-divider-width-xlarge zp ba-40229715" data-id="40229715"></div> <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zpa-headline-divider-block zp ba-40229716" data-id="40229716"> <h2 style="font-family: ProximaNova-Medium; color: rgb(39, 43, 96); font-size: 32px;" data-open-accessibility-text-original="32px" class="accessibly-save-inline-font-152">Save On Bundles<br>
</h2> </div> <div class="zpa-divider-style-solid zpa-divider-thickness-sm zpa-divider-width-xlarge zp ba-40229715" data-id="40229715"></div> </div> </div> </div> </div></section>
<section class="js-cluster-wrapper zpa-choose-product-040-v3 zpa-choose-product-040 cluster-padding-medium zp ba-39576347" data-id="39576347" id="8434388"><div class="js-cluster zpa-container zp cac-39576347"> <div class="flex-row zpa-product__container--mobile"> <div class="xs-12 sm-4 zpa-product__container--mobile--offset zpa-text-center js-best-value-not-select" id="zpproductselector3-wrapper" data-product-content="">
  
  <div class="zpa-best-value zpa-best-value--offset zp uca-39576359">
    <div class="zpa-product-label-box zp ba-39576359">
      <div class="zpa-best-value-corner zp hidden lat-39576359" data-hidden-label="">
        <div class="zpa-best-value-corner-text">BEST VALUE</div>
      </div>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576341"><h3 data-open-accessibility-text-original="28px" style="font-size: 28px;">Keto Cheese Puffs + Cocoa Cereal</h3></div>
    <div class="zpa-offset-bottom-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576337"><p style="font-size: 18px;" data-open-accessibility-text-original="18px">🧀&nbsp;<span style="font-style: italic; font-size: 18px;" data-open-accessibility-text-original="18px">12 bags Cheddar Puffs</span><br></p>
<p style="font-size: 18px;" data-open-accessibility-text-original="18px">🍫 12 bags Cocoa Cereal<br></p></div>
    <div class="zpa-product-best-price-save zpa-offset-bottom-sm zpa-word-wrap zp hidden mat-39576359" data-hidden-label=""></div>
    <div class="zpa-offset-bottom-xs zp zpa-mobile-align--center zpa-align--center ba-39576335">
      <a role="button" data-zp-product-image-link="" style="font-size: 14px;" data-open-accessibility-text-original="14px" class="navigable">
        <img class="zpa-img-fluid zp ba-39576360" alt="" src="https://cdn05.zipify.com/J9EV_bbVylJQMLXWhXCtSzMmjsw=/fit-in/960x0/53dadebfa08148b4adeaeabc255e965c/bundle3_0005_plain-cream.jpeg" sizes="960px,830px,720px,590px,450px,220px" srcset="https://cdn05.zipify.com/Pt6_ct82GkvqHmbesZjFHxu4MtY=/fit-in/220x0/53dadebfa08148b4adeaeabc255e965c/bundle3_0005_plain-cream.jpeg 220w, https://cdn05.zipify.com/GL2AaWvRRu19qz2H9ksvxyDioUk=/fit-in/450x0/53dadebfa08148b4adeaeabc255e965c/bundle3_0005_plain-cream.jpeg 450w, https://cdn05.zipify.com/nDtkaibwFi99VHlpuNGX_L029IQ=/fit-in/590x0/53dadebfa08148b4adeaeabc255e965c/bundle3_0005_plain-cream.jpeg 590w, https://cdn05.zipify.com/3KDw4eNOFVPHoJ244TQXuZcJixc=/fit-in/720x0/53dadebfa08148b4adeaeabc255e965c/bundle3_0005_plain-cream.jpeg 720w, https://cdn05.zipify.com/z5-meecOMdlsh-s8INxBJ4zAoOE=/fit-in/830x0/53dadebfa08148b4adeaeabc255e965c/bundle3_0005_plain-cream.jpeg 830w, https://cdn05.zipify.com/J9EV_bbVylJQMLXWhXCtSzMmjsw=/fit-in/960x0/53dadebfa08148b4adeaeabc255e965c/bundle3_0005_plain-cream.jpeg 960w" data-nsfw-filter-status="sfw" style="visibility: visible;">
      </a>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <div class="zpa-inline-block right-offset-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp is-custom ba-39576358"><p style="font-size: 20px; font-weight: 700; color: #999; text-decoration: line-through;" data-open-accessibility-text-original="20px">$59.98<br></p></div>
      <div class="zpa-inline-block default-styles-wrapper zpa-word-wrap disable-internal-link zp is-custom ba-39576357"><p style="font-size: 30px; font-weight: 700;" data-open-accessibility-text-original="30px">$49.99<br></p></div>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576342"><h4 style="color: rgb(58, 170, 53); font-size: 24px;" data-open-accessibility-text-original="24px">You Save 16%</h4></div>
    </div>
    <div class="zpa-offset-bottom-md zpa-tablet-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <form class="" method="post" enctype="multipart/form-data" data-zp-add-to-cart-form="" data-zp-link-type="cart" data-zp-product-url="/cart" data-productid="4845657686104" data-zp-redirect-with-url-params="false">
        <div class="zpa-product-variants-form-center zp ba-39576330"><div data-options-selector="" class="zpa-selector-wrapper zpa-buybox__variant__item--xs hidden"><label for="zpproductselector2-option-0">Title</label><select class="zpa-single-option-selector zpa-single-option-selector--xs noreplace" data-option="option1" id="zpproductselector2-option-0"><option value="Default Title" selected="selected">Default Title</option></select></div><select class="hidden noreplace" id="zpproductselector2" name="id" data-productid="4845657686104" style="display: none;"><option selected="selected" value="33545560621144">Default Title - $49.99 USD</option></select><div class="zpa-selector-wrapper zpa-quantity zpa-center-block zpa-offset-bottom-xs" data-zp-quantity-wrapper=""><label for="zpproductselector2-quantity">Quantity</label><div class="zpa-quantity-block"><button class="zpa-btn-custom zpa-quantity-btn navigable" type="button" data-zp-product-decrease-qty=""><svg class="zpa-quantity-icon" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconDecrease"></use></svg></button><input id="zpproductselector2-quantity" class="zpa-quantity-field xs" value="1" maxlength="3" size="3" type="tel" inputmode="numeric" required="" pattern="^[1-9][0-9]*" name="quantity" data-zp-product-quantity=""><button class="zpa-btn-custom zpa-quantity-btn navigable" type="button" data-zp-product-increase-qty=""><svg class="zpa-quantity-icon" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconIncrease"></use></svg></button></div></div>
        </div><div class="zpa-text-center-sm zpa-button-alignment-center"><button type="submit" name="add" data-zp-add-to-cart="" data-zp-add-and-go-to-cart="true" class="zpa-btn-custom zpa-mobile-btn-size zpa-add-to-cart-btn zp zpa-button-padding-medium bcss-39576330 candy navigable" data-zp-link-type="cart" style="display:none!important;visibility:hidden;position:absolute;left:-10000px;"><span class="zpa-btn-custom__caption" data-zp-add-to-cart-text="" style="font-size: 18px;" data-open-accessibility-text-original="18px">BUY NOW!</span><svg class="zpa-btn-loader zpa-btn-custom__icon" width="14px" height="14px"><use xlink:href="#buyButtonLoader"></use></svg></button><button type="submit" name="add" data-zp-add-to-cart="" data-zp-add-and-go-to-cart="true" class="zpa-btn-custom zpa-mobile-btn-size zpa-add-to-cart-btn zp zpa-button-padding-medium bcss-39576330 candy navigable" data-zp-link-type="cart" value=""><span class="zpa-btn-custom__caption" data-zp-add-to-cart-text="" style="font-size: 18px;" data-open-accessibility-text-original="18px">BUY NOW!</span><svg class="zpa-btn-loader zpa-btn-custom__icon" width="14px" height="14px"><use xlink:href="#buyButtonLoader"></use></svg></button><div class="zpa-product-message-wrap zpa-product-message-wrap-center"><span class="zpa-product-message product-success hidden zp pcma-39576330" data-zp-product-messages="" data-zp-success-message="Product%20has%20been%20added%20to%20cart" style="font-size: 14px;" data-open-accessibility-text-original="14px"></span></div></div><a href="/cart" target="" style="display: none !important; font-size: 14px;" data-zp-product-redirect-link="" data-open-accessibility-text-original="14px" class="navigable"></a></form>
      </div>
    <div class="zp zpa-mobile-align--center zpa-align--center ba-39576333">
      30 Day Money Back Guarantee!
    </div>
  </div>
</div><script type="text/json" data-zp-product-init="">{"translations":{"addToCart":"BUY%20NOW!"},"productSelector":"zpproductselector3","selectedVariants":"","productType":"base","imageSize":"master","productDiscountData":"","initBuilder":true,"product":{"id":4845677772888,"title":"Fiery Hot Puffs + Cheddar Cheese Puffs + Sour Cream \u0026 Onion Puffs (36 Bags)","handle":"fiery-hot-puffs-cheddar-cheese-puffs-sour-cream-onion-puffs-36-bags","description":"","published_at":"2020-12-01T15:05:18-08:00","created_at":"2020-12-01T15:05:16-08:00","vendor":"Schoolyard Snacks","type":"","tags":["bundle","gifting"],"price":7467,"price_min":7467,"price_max":7467,"available":true,"price_varies":false,"compare_at_price":8997,"compare_at_price_min":8997,"compare_at_price_max":8997,"compare_at_price_varies":false,"variants":[{"id":33545630056536,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"SYS-GF-SCCHECHFM-36","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Fiery Hot Puffs + Cheddar Cheese Puffs + Sour Cream \u0026 Onion Puffs (36 Bags)","public_title":null,"options":["Default Title"],"price":7467,"weight":0,"compare_at_price":8997,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/cheesepuffset1_0004_plain-blue.jpg?v=1615554264"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/cheesepuffset1_0004_plain-blue.jpg?v=1615554264","options":["Title"],"media":[{"alt":null,"id":20359377125464,"position":1,"preview_image":{"aspect_ratio":1.0,"height":1000,"width":1000,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/cheesepuffset1_0004_plain-blue.jpg?v=1615554264"},"aspect_ratio":1.0,"height":1000,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/cheesepuffset1_0004_plain-blue.jpg?v=1615554264","width":1000}],"requires_selling_plan":false,"selling_plan_groups":[],"content":""}}</script><div class="xs-12 sm-4 zpa-product__container--mobile--offset zpa-text-center js-best-value-not-select" id="zpproductselector2-wrapper" data-product-content="">
  
  <div class="zpa-best-value zpa-best-value--offset zp uca-39576345">
    <div class="zpa-product-label-box zp ba-39576345">
      <div class="zpa-best-value-corner zp hidden lat-39576345" data-hidden-label="">
        <div class="zpa-best-value-corner-text">BEST VALUE</div>
      </div>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576340"><h3 data-open-accessibility-text-original="28px" style="font-size: 28px;">3 Flavor Bundle</h3></div>
    <div class="zpa-offset-bottom-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576338"><p style="font-size: 18px;" data-open-accessibility-text-original="18px">🍫&nbsp;<span style="font-style: italic; font-size: 18px;" data-open-accessibility-text-original="18px">12 bags Cocoa Cereal</span><br></p>
<p style="font-style: italic; font-size: 18px;" data-open-accessibility-text-original="18px">🥜&nbsp;12 bags Peanut Butter Cereal<br></p>
<p style="font-size: 18px;" data-open-accessibility-text-original="18px"><span style="font-family: var(--desktop-p-family); font-style: var(--desktop-p-style); font-weight: var(--desktop-p-weight); font-size: 18px;" data-open-accessibility-text-original="18px" class="accessibly-save-inline-font-170">🧀</span><span style="font-family: var(--desktop-p-family); font-weight: var(--desktop-p-weight); font-style: italic; font-size: 18px;" data-open-accessibility-text-original="18px" class="accessibly-save-inline-font-171">12 bags Cheddar Puffs</span><br></p></div>
    <div class="zpa-product-best-price-save zpa-offset-bottom-sm zpa-word-wrap zp hidden mat-39576345" data-hidden-label=""></div>
    <div class="zpa-offset-bottom-xs zp zpa-mobile-align--center zpa-align--center ba-39576336">
      <a role="button" data-zp-product-image-link="" style="font-size: 14px;" data-open-accessibility-text-original="14px" class="navigable">
        <img class="zpa-img-fluid zp ba-39576362" alt="" src="{{ '3flavor-bundle.jpg' | asset_url }}" sizes="960px,830px,720px,590px,450px,220px" data-nsfw-filter-status="sfw" style="visibility: visible;">
      </a>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <div class="zpa-inline-block right-offset-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp is-custom ba-39576355"><p style="font-size: 20px; font-weight: 700; color: #999; text-decoration: line-through;" data-open-accessibility-text-original="20px">$89.97<br></p></div>
      <div class="zpa-inline-block default-styles-wrapper zpa-word-wrap disable-internal-link zp is-custom ba-39576356"><p style="font-size: 30px; font-weight: 700;" data-open-accessibility-text-original="30px">$74.67<br></p></div>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576371"><h4 style="color: rgb(58, 170, 53); font-size: 24px;" data-open-accessibility-text-original="24px">You Save 17%</h4></div>
    </div>
    <div class="zpa-offset-bottom-md zpa-tablet-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <form class="" method="post" enctype="multipart/form-data" data-zp-add-to-cart-form="" data-zp-link-type="cart" data-zp-product-url="/cart" data-productid="33525388214360" data-zp-redirect-with-url-params="false">
        <div class="zpa-product-variants-form-center zp ba-39576331"><div data-options-selector="" class="zpa-selector-wrapper zpa-buybox__variant__item--xs hidden"><label for="zpproductselector3-option-0">Title</label><select class="zpa-single-option-selector zpa-single-option-selector--xs noreplace" data-option="option1" id="zpproductselector3-option-0"><option value="Default Title" selected="selected">Default Title</option></select></div><select class="hidden noreplace" id="zpproductselector3" name="id" data-productid="4845677772888" style="display: none;"><option selected="selected" value="33545630056536">Default Title - $74.67 USD</option></select><div class="zpa-selector-wrapper zpa-quantity zpa-center-block zpa-offset-bottom-xs" data-zp-quantity-wrapper=""><label for="zpproductselector3-quantity">Quantity</label><div class="zpa-quantity-block"><button class="zpa-btn-custom zpa-quantity-btn navigable" type="button" data-zp-product-decrease-qty=""><svg class="zpa-quantity-icon" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconDecrease"></use></svg></button><input id="zpproductselector3-quantity" class="zpa-quantity-field xs" value="1" maxlength="3" size="3" type="tel" inputmode="numeric" required="" pattern="^[1-9][0-9]*" name="quantity" data-zp-product-quantity=""><button class="zpa-btn-custom zpa-quantity-btn navigable" type="button" data-zp-product-increase-qty=""><svg class="zpa-quantity-icon" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconIncrease"></use></svg></button></div></div>
        </div><div class="zpa-text-center-sm zpa-button-alignment-center"><button type="submit" name="add" data-zp-add-to-cart="" data-zp-add-and-go-to-cart="true" class="zpa-btn-custom zpa-mobile-btn-size zpa-add-to-cart-btn zp zpa-button-padding-medium bcss-39576331 candy navigable" data-zp-link-type="cart" style="display:none!important;visibility:hidden;position:absolute;left:-10000px;"><span class="zpa-btn-custom__caption" data-zp-add-to-cart-text="" style="font-size: 18px;" data-open-accessibility-text-original="18px">BUY NOW!</span><svg class="zpa-btn-loader zpa-btn-custom__icon" width="14px" height="14px"><use xlink:href="#buyButtonLoader"></use></svg></button><button type="submit" name="add" data-zp-add-to-cart="" data-zp-add-and-go-to-cart="true" class="zpa-btn-custom zpa-mobile-btn-size zpa-add-to-cart-btn zp zpa-button-padding-medium bcss-39576331 candy navigable" data-zp-link-type="cart" value=""><span class="zpa-btn-custom__caption" data-zp-add-to-cart-text="" style="font-size: 18px;" data-open-accessibility-text-original="18px">BUY NOW!</span><svg class="zpa-btn-loader zpa-btn-custom__icon" width="14px" height="14px"><use xlink:href="#buyButtonLoader"></use></svg></button><div class="zpa-product-message-wrap zpa-product-message-wrap-center"><span class="zpa-product-message product-success hidden zp pcma-39576331" data-zp-product-messages="" data-zp-success-message="Product%20has%20been%20added%20to%20cart" style="font-size: 14px;" data-open-accessibility-text-original="14px"></span></div></div><a href="/cart" target="" style="display: none !important; font-size: 14px;" data-zp-product-redirect-link="" data-open-accessibility-text-original="14px" class="navigable"></a></form>
      </div>
    <div class="zp zpa-mobile-align--center zpa-align--center ba-39576334">
      30 Day Money Back Guarantee!
    </div>
  </div>
</div><script type="text/json" data-zp-product-init="">{"translations":{"addToCart":"BUY%20NOW!"},"productSelector":"zpproductselector2","selectedVariants":"","productType":"base","imageSize":"master","productDiscountData":"","initBuilder":true,"product":{"id":4845657686104,"title":"Cheddar Cheese Puffs + Cocoa Cereal (24 Bags)","handle":"cheddar-cheese-puffs-cocoa-cereal-24-bags","description":"","published_at":"2020-12-01T14:28:47-08:00","created_at":"2020-12-01T14:28:46-08:00","vendor":"Schoolyard Snacks","type":"","tags":["bundle","gifting"],"price":4999,"price_min":4999,"price_max":4999,"available":true,"price_varies":false,"compare_at_price":5998,"compare_at_price_min":5998,"compare_at_price_max":5998,"compare_at_price_varies":false,"variants":[{"id":33545560621144,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"SYS-GF-CHECH-COCOA-24","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Cheddar Cheese Puffs + Cocoa Cereal (24 Bags)","public_title":null,"options":["Default Title"],"price":4999,"weight":0,"compare_at_price":5998,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/bundle3_0000_mostpopular-blue.jpg?v=1615554042"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/bundle3_0000_mostpopular-blue.jpg?v=1615554042","options":["Title"],"media":[{"alt":null,"id":20359368212568,"position":1,"preview_image":{"aspect_ratio":1.0,"height":1000,"width":1000,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/bundle3_0000_mostpopular-blue.jpg?v=1615554042"},"aspect_ratio":1.0,"height":1000,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/bundle3_0000_mostpopular-blue.jpg?v=1615554042","width":1000}],"requires_selling_plan":false,"selling_plan_groups":[],"content":""}}</script><div class="xs-12 sm-4 zpa-product__container--mobile--offset zpa-text-center " id="zpproductselector1-wrapper" data-product-content="">
  
  <div class="zpa-best-value zpa-best-value--offset zp uca-39576370">
    <div class="zpa-product-label-box zp ba-39576370">
      <div class="zpa-best-value-corner zp lat-39576370">
        <div class="zpa-best-value-corner-text">BEST VALUE</div>
      </div>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576368"><h3 data-open-accessibility-text-original="28px" style="font-size: 28px;">Exclusive Crush Cravings Bundle<br>
</h3></div>
    <div class="zpa-offset-bottom-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576339"><p style="font-style: italic; font-size: 18px;" data-open-accessibility-text-original="18px"><span style="font-family: var(--desktop-p-family); font-style: italic; font-weight: var(--desktop-p-weight); font-size: 18px;" data-open-accessibility-text-original="18px" class="accessibly-save-inline-font-182">🍫 12 bags Cocoa Cereal</span><br></p>
<p style="font-style: italic; font-size: 18px;" data-open-accessibility-text-original="18px">🥜 12 bags Peanut Butter Cereal<br>🧀 12 bags Cheddar Puffs<br>🍖12 bags BBQ Puffs<br></p></div>    
    <div class="zpa-offset-bottom-xs zp zpa-mobile-align--center zpa-align--center ba-39576344">
      <a role="button" data-zp-product-image-link="" style="font-size: 14px;" data-open-accessibility-text-original="14px" class="navigable">
        <img class="zpa-img-fluid zp ba-39576364" alt="" src="https://cdn05.zipify.com/3LKocXa2hhU_vS1tnTCU6p-jJ7I=/fit-in/960x0/003e7c58b9ff4b839eb9a53a814e34f3/bundle_bbq_cheddar_cocoa_pb.png" sizes="960px,830px,720px,590px,450px,220px" srcset="https://cdn05.zipify.com/z35fQqH-jJnCovVU0KEmDB8yUFM=/fit-in/220x0/003e7c58b9ff4b839eb9a53a814e34f3/bundle_bbq_cheddar_cocoa_pb.png 220w, https://cdn05.zipify.com/clZPn978mt9GR1JTUcF9fqNFbiA=/fit-in/450x0/003e7c58b9ff4b839eb9a53a814e34f3/bundle_bbq_cheddar_cocoa_pb.png 450w, https://cdn05.zipify.com/h6JTU0ER083Gy0v04s35IIUKWJc=/fit-in/590x0/003e7c58b9ff4b839eb9a53a814e34f3/bundle_bbq_cheddar_cocoa_pb.png 590w, https://cdn05.zipify.com/4ufuiZzSISjhxkOw_GZH4gOG4UA=/fit-in/720x0/003e7c58b9ff4b839eb9a53a814e34f3/bundle_bbq_cheddar_cocoa_pb.png 720w, https://cdn05.zipify.com/2mOtpEUA4EEv4SY3QBzEfivk2bE=/fit-in/830x0/003e7c58b9ff4b839eb9a53a814e34f3/bundle_bbq_cheddar_cocoa_pb.png 830w, https://cdn05.zipify.com/3LKocXa2hhU_vS1tnTCU6p-jJ7I=/fit-in/960x0/003e7c58b9ff4b839eb9a53a814e34f3/bundle_bbq_cheddar_cocoa_pb.png 960w" data-nsfw-filter-status="sfw" style="visibility: visible;">
      </a>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <div class="zpa-inline-block right-offset-xs default-styles-wrapper zpa-word-wrap disable-internal-link zp is-custom ba-39576346"><p style="font-size: 20px; font-weight: 700; color: #999; text-decoration: line-through;" data-open-accessibility-text-original="20px">$119.96</p></div>
      <div class="zpa-inline-block default-styles-wrapper zpa-word-wrap disable-internal-link zp is-custom ba-39576354"><p style="font-size: 30px; font-weight: 700; text-decoration-line: none;" data-open-accessibility-text-original="30px">$89.97</p></div>
    </div>
    <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576332"><h4 style="color: rgb(59, 180, 74); font-size: 24px;" data-open-accessibility-text-original="24px">You Save 25%<br>BONUS: $10 Gift Card</h4></div>
    </div>
    <div class="zpa-offset-bottom-md zpa-tablet-offset-bottom-sm zpa-mobile-offset-bottom-xs">
      <form class="" method="post" enctype="multipart/form-data" data-zp-add-to-cart-form="" data-zp-link-type="cart" data-zp-product-url="/cart" data-productid="6543888875608" data-zp-redirect-with-url-params="false">
        <div class="zpa-product-variants-form-center zp ba-39576329"><div data-options-selector="" class="zpa-selector-wrapper zpa-buybox__variant__item--xs hidden"><label for="zpproductselector1-option-0">Flavor</label><select class="zpa-single-option-selector zpa-single-option-selector--xs noreplace" data-option="option1" id="zpproductselector1-option-0"><option value="Cheddar Cheese Puffs + BBQ Puffs + Cocoa Cereal + Peanut Butter Cereal" selected="selected">Cheddar Cheese Puffs + BBQ Puffs + Cocoa Cereal + Peanut Butter Cereal</option></select></div><div data-options-selector="" class="zpa-selector-wrapper zpa-buybox__variant__item--xs hidden"><label for="zpproductselector1-option-1">Size</label><select class="zpa-single-option-selector zpa-single-option-selector--xs noreplace" data-option="option2" id="zpproductselector1-option-1"><option value="48 Bags" selected="selected">48 Bags</option></select></div><div data-options-selector="" class="zpa-selector-wrapper zpa-buybox__variant__item--xs hidden"><label for="zpproductselector1-option-2">Type</label><select class="zpa-single-option-selector zpa-single-option-selector--xs noreplace" data-option="option3" id="zpproductselector1-option-2"><option value="variety" selected="selected">variety</option></select></div><select class="hidden noreplace" id="zpproductselector1" name="id" data-productid="6543888875608" style="display: none;"><option selected="selected" value="39267120054360">Cheddar Cheese Puffs + BBQ Puffs + Cocoa Cereal + Peanut Butter Cereal / 48 Bags / variety - $89.97 USD</option></select><div class="zpa-selector-wrapper zpa-quantity zpa-center-block zpa-offset-bottom-xs" data-zp-quantity-wrapper=""><label for="zpproductselector1-quantity">Quantity</label><div class="zpa-quantity-block"><button class="zpa-btn-custom zpa-quantity-btn navigable" type="button" data-zp-product-decrease-qty=""><svg class="zpa-quantity-icon" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconDecrease"></use></svg></button><input id="zpproductselector1-quantity" class="zpa-quantity-field xs" value="1" maxlength="3" size="3" type="tel" inputmode="numeric" required="" pattern="^[1-9][0-9]*" name="quantity" data-zp-product-quantity=""><button class="zpa-btn-custom zpa-quantity-btn navigable" type="button" data-zp-product-increase-qty=""><svg class="zpa-quantity-icon" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconIncrease"></use></svg></button></div></div>
        </div><div class="zpa-text-center-sm zpa-button-alignment-center"><button type="submit" name="add" data-zp-atc-with10  data-zp-add-and-go-to-cart="true" class="zpa-btn-custom zpa-mobile-btn-size zpa-add-to-cart-btn zp zpa-button-padding-medium bcss-39576329 candy navigable" data-zp-link-type="cart" style="display:none!important;visibility:hidden;position:absolute;left:-10000px;"><span class="zpa-btn-custom__caption" data-zp-add-to-cart-text="" style="font-size: 18px;" data-open-accessibility-text-original="18px">BUY NOW!</span><svg class="zpa-btn-loader zpa-btn-custom__icon" width="14px" height="14px"><use xlink:href="#buyButtonLoader"></use></svg></button><button type="submit" name="add" data-zp-atc-with10 data-zp-add-and-go-to-cart="true" class="zpa-btn-custom zpa-mobile-btn-size zpa-add-to-cart-btn zp zpa-button-padding-medium bcss-39576329 candy navigable" data-zp-link-type="cart" value=""><span class="zpa-btn-custom__caption" data-zp-add-to-cart-text="" style="font-size: 18px;" data-open-accessibility-text-original="18px">BUY NOW!</span><svg class="zpa-btn-loader zpa-btn-custom__icon" width="14px" height="14px"><use xlink:href="#buyButtonLoader"></use></svg></button><div class="zpa-product-message-wrap zpa-product-message-wrap-center"><span class="zpa-product-message product-success hidden zp pcma-39576329" data-zp-product-messages="" data-zp-success-message="Product%20has%20been%20added%20to%20cart" style="font-size: 14px;" data-open-accessibility-text-original="14px"></span></div></div><a href="/cart" target="" style="display: none !important; font-size: 14px;" data-zp-product-redirect-link="" data-open-accessibility-text-original="14px" class="navigable"></a></form></div>
    <div class="zp zpa-mobile-align--center zpa-align--center ba-39576343">
      30 Day Money Back Guarantee!
    </div>
  </div>
</div><script type="text/json" data-zp-product-init="">{"translations":{"addToCart":"BUY%20NOW!"},"productSelector":"zpproductselector1","selectedVariants":"","productType":"base","imageSize":"master","productDiscountData":"","initBuilder":true,"product":{"id":6543888875608,"title":"Exclusive Crush Cravings Bundle","handle":"exclusive-crush-cravings-bundle","description":"\u003cp data-mce-fragment=\"1\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eThe \u003c\/span\u003e\u003cb data-mce-fragment=\"1\"\u003eONLY\u003c\/b\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e bundle featuring \u003c\/span\u003e\u003cb data-mce-fragment=\"1\"\u003eEVERY\u003c\/b\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e Bestselling Flavor.\u003c\/span\u003e\u003c\/p\u003e\n\u003cp data-mce-fragment=\"1\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eGet them all at once and \u003c\/span\u003e\u003cb data-mce-fragment=\"1\"\u003eSAVE $29.99!\u003c\/b\u003e\u003c\/p\u003e\n\u003cp data-mce-fragment=\"1\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eFight your sweet AND savory cravings together. Here's what you get:\u003c\/span\u003e\u003c\/p\u003e\n\u003cul data-mce-fragment=\"1\"\u003e\n\u003cli style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eKeto Cheddar Cheese Puffs - 12 Bags\u003c\/span\u003e\u003c\/li\u003e\n\u003cli style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eKeto BBQ Puffs - 12 Bags\u003c\/span\u003e\u003c\/li\u003e\n\u003cli style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eKeto Peanut Butter Cereal - 12 Bags\u003c\/span\u003e\u003c\/li\u003e\n\u003cli style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eKeto Cocoa Cereal - 12 Bags\u003c\/span\u003e\u003c\/li\u003e\n\u003c\/ul\u003e","published_at":"2021-03-03T15:01:11-08:00","created_at":"2021-03-03T14:56:33-08:00","vendor":"Schoolyard Snacks","type":"","tags":["bundle"],"price":8997,"price_min":8997,"price_max":8997,"available":true,"price_varies":false,"compare_at_price":11996,"compare_at_price_min":11996,"compare_at_price_max":11996,"compare_at_price_varies":false,"variants":[{"id":39267120054360,"title":"Cheddar Cheese Puffs + BBQ Puffs + Cocoa Cereal + Peanut Butter Cereal \/ 48 Bags \/ variety","option1":"Cheddar Cheese Puffs + BBQ Puffs + Cocoa Cereal + Peanut Butter Cereal","option2":"48 Bags","option3":"variety","sku":"SYS-BF-CHECHBBQ-COCOAPB-48","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Exclusive Crush Cravings Bundle - Cheddar Cheese Puffs + BBQ Puffs + Cocoa Cereal + Peanut Butter Cereal \/ 48 Bags \/ variety","public_title":"Cheddar Cheese Puffs + BBQ Puffs + Cocoa Cereal + Peanut Butter Cereal \/ 48 Bags \/ variety","options":["Cheddar Cheese Puffs + BBQ Puffs + Cocoa Cereal + Peanut Butter Cereal","48 Bags","variety"],"price":8997,"weight":0,"compare_at_price":11996,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[]}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/bundle_BBQ_Cheddar_Cocoa_PB.png?v=1614878719"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/bundle_BBQ_Cheddar_Cocoa_PB.png?v=1614878719","options":["Flavor","Size","Type"],"media":[{"alt":null,"id":20319530090584,"position":1,"preview_image":{"aspect_ratio":1.0,"height":3209,"width":3209,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/bundle_BBQ_Cheddar_Cocoa_PB.png?v=1614878719"},"aspect_ratio":1.0,"height":3209,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0048\/4330\/7123\/products\/bundle_BBQ_Cheddar_Cocoa_PB.png?v=1614878719","width":3209}],"requires_selling_plan":false,"selling_plan_groups":[],"content":"\u003cp data-mce-fragment=\"1\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eThe \u003c\/span\u003e\u003cb data-mce-fragment=\"1\"\u003eONLY\u003c\/b\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e bundle featuring \u003c\/span\u003e\u003cb data-mce-fragment=\"1\"\u003eEVERY\u003c\/b\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e Bestselling Flavor.\u003c\/span\u003e\u003c\/p\u003e\n\u003cp data-mce-fragment=\"1\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eGet them all at once and \u003c\/span\u003e\u003cb data-mce-fragment=\"1\"\u003eSAVE $29.99!\u003c\/b\u003e\u003c\/p\u003e\n\u003cp data-mce-fragment=\"1\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eFight your sweet AND savory cravings together. Here's what you get:\u003c\/span\u003e\u003c\/p\u003e\n\u003cul data-mce-fragment=\"1\"\u003e\n\u003cli style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eKeto Cheddar Cheese Puffs - 12 Bags\u003c\/span\u003e\u003c\/li\u003e\n\u003cli style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eKeto BBQ Puffs - 12 Bags\u003c\/span\u003e\u003c\/li\u003e\n\u003cli style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eKeto Peanut Butter Cereal - 12 Bags\u003c\/span\u003e\u003c\/li\u003e\n\u003cli style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003e\u003cspan style=\"font-weight: 400;\" data-mce-fragment=\"1\" data-mce-style=\"font-weight: 400;\"\u003eKeto Cocoa Cereal - 12 Bags\u003c\/span\u003e\u003c\/li\u003e\n\u003c\/ul\u003e"}}</script></div> </div></section>
<section class="js-cluster-wrapper zpa-judgeme-142-v1-dynamic zpa-judgeme-142 cluster-padding-medium zp ba-8518399" data-id="8518399" id="8518399"> <div class="js-cluster zp cac-8518399 zpa-container"> <div class="flex-row"> <div class="xs-12 "> <div class="zp ba-323384" data-id="323384"> <div style="clear:both"></div>  
  <div class="section section--reviews">
    <div class="container--slim">
      <div class="section__header">
        <h2 class="h1 center">Picky eaters say...</h2>
      </div>
      <div class="section__content">
        {% assign product = all_products['keto-puffs'] %}
        <div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}">{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
      </div>
    </div>
  </div>
  
</section>

<section class="js-cluster-wrapper zpa-plain-text-002-v1-dynamic zpa-plain-text-002 zp ba-8545219" data-id="8545219" id="8545219"> <div class="js-cluster zp cac-8545219 zpa-container"> <div class="flex-row"> <div class="xs-12 "> <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ea-329270"> <p style="font-family: &quot;GT Walsheim&quot;; font-weight: 400; color: rgb(39, 43, 96); font-size: 18px;" data-open-accessibility-text-original="18px" class="accessibly-save-inline-font-381">References:</p>
  <p style="font-family: &quot;GT Walsheim&quot;; font-weight: 400; color: rgb(39, 43, 96); font-size: 18px;" data-open-accessibility-text-original="18px" class="accessibly-save-inline-font-382">[1]&nbsp;Choi, C. (2020, December 4).&nbsp;New Year’s resolution statistics. Finder.Com. https://www.finder.com/new-years-resolution-statistics</p>
  <p style="font-family: &quot;GT Walsheim&quot;; font-weight: 400; color: rgb(39, 43, 96); font-size: 18px;" data-open-accessibility-text-original="18px" class="accessibly-save-inline-font-383">[2]&nbsp;S. R. Coutinho, J. F. Rehfeld, J. J. Holst, B. Kulseng, and C. Martins (2018, July 1).&nbsp;Impact of weight loss achieved through a multidisciplinary intervention on appetite in patients with severe obesity. Journals Physiology. https://journals.physiology.org/doi/full/10.1152/ajpendo.00322.2017</p>
  <p data-open-accessibility-text-original="18px" style="font-size: 18px;"> </p> </div> </div> </div> </div> </section>

  <section class="js-cluster-wrapper zpa-footer-copyrights-links-1-020-v3 zpa-footer-copyrights-links-020 cluster-padding-medium zp ba-39576372" data-id="39576372" id="8434389"><div class="js-cluster zpa-container zp cac-39576372"> <div class="flex-row"> <div class="xs-12"> <ul class="zpa-list-unstyled zpa-footer-block zpa-offset-bottom-md zpa-tablet-offset-bottom-sm"> <li class="zpa-footer-link__border zpa-text-center-sm zpa-button-alignment-center" data-open-accessibility-text-original="14px" style="font-size: 14px;"> <a href="https://schoolyardsnacks.com/pages/contact-us" data-type="custom_dest" target="_self" role="button" class="zpa-btn-custom zpa-mobile-btn-size zp ba-39576374 navigable" data-id="39576374" style="font-size: 14px;" data-open-accessibility-text-original="14px">Contact Us</a> </li> <li class="zpa-footer-link__border zpa-text-center-sm zpa-button-alignment-center" data-open-accessibility-text-original="14px" style="font-size: 14px;"> <a href="https://schoolyardsnacks.com/policies/terms-of-service" data-type="custom_dest" target="_self" role="button" class="zpa-btn-custom zpa-mobile-btn-size zp ba-39576375 navigable" data-id="39576375" style="font-size: 14px;" data-open-accessibility-text-original="14px">Terms And Conditions</a> </li> <li class="zpa-footer-link__border zpa-text-center-sm zpa-button-alignment-center" data-open-accessibility-text-original="14px" style="font-size: 14px;"> <a href="https://schoolyardsnacks.com/policies/privacy-policy" data-type="custom_dest" target="_self" role="button" class="zpa-btn-custom zpa-mobile-btn-size zp ba-39576376 navigable" data-id="39576376" style="font-size: 14px;" data-open-accessibility-text-original="14px">Privacy Policy</a> </li> </ul> <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-39576373" data-id="39576373"><p class="zpa-regular3" data-open-accessibility-text-original="12px" style="font-size: 12px;">© Copyright. All right reserved.</p></div> </div> </div> </div></section>

  <a class="scroll-to-top btn hide hide--desktop">Pick Your Flavors</a>

 


<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>

{% assign product = all_products['keto-puffs'] %}

    <script type="application/json" id="product__json">{{ product | json }}</script>
    <script type="application/json" id="current_variant__json">{{ product.selected_or_first_available_variant | json }}</script>
    <script>
      {% capture doz_products_handles %}{% for i in (1..6) %}|keto-cereal-{{i}}-dozen{% endfor %}{% endcapture %}
        {% assign doz_products_handles = doz_products_handles | replace_first: '|', '' %}
        {% assign doz_products = doz_products_handles | split: '|' %}
        {% assign initial_price_per_bag = "" %}
        {% assign initial_sell_price = "" %}
        {% assign initial_compare_at_price = "" %}
            var dozProducts = {
                {% for item in doz_products %}
                    {%- assign product = all_products[item] -%}
                    //title: {{ product.title }}
                    //handle: {{ product.handle }}
                    {%- assign single_prices = product.description | strip_html | strip_newlines | split: ':SUBSCRIPTION:' | first -%}
                    {%- assign desc_prices = single_prices | split: '|' -%}
                    {%- if forloop.first -%}
                        {%- assign initial_price_per_bag = desc_prices[0] -%}
                        {%- assign initial_sell_price = desc_prices[1] -%}
                        {%- assign initial_compare_at_price = desc_prices[2] -%}
                    {%- endif -%}
                    {%- assign num_of_bags = forloop.index | times: 12 -%}
                    {{forloop.index}}: {
                        price_per_bag: "{{desc_prices[0]}}",
                        calc_price_per_bag: "{{ variant.price | divided_by: num_of_bags | round: 2 }}",
                        sell_price: "{{desc_prices[1]}}",
                        compare_at_price: "{{desc_prices[2]}}",
                        variants: [
                        {% for variant in product.variants %}
                        {id: {{variant.id}}, flavor: "{{ variant.title | handleize }}"},
                        {% endfor %}
                    ]},
                {% endfor %}        
            };
            var dozSubscriptionProducts = {
                {% for item in doz_products %}
                    {%- assign product = all_products[item] -%}//{{sub_item}}
                    //title: {{ product.title }}
                    //handle: {{ product.handle }}
                    {%- if product != blank -%}
                        {%- assign subscription_prices = product.description | strip_html | strip_newlines | split: ':SUBSCRIPTION:' | last -%}
                        {%- assign desc_prices = subscription_prices  | split: '|' -%}
                        {%- if forloop.first or initial_price_per_bag == blank -%}
                            {%- assign initial_price_per_bag = desc_prices[0] -%}
                            {%- assign initial_sell_price = desc_prices[1] -%}
                            {%- assign initial_compare_at_price = desc_prices[2] -%}
                        {%- endif -%}
                        {%- assign num_of_bags = forloop.index | times: 12 -%}
                        {%- assign num_of_doz = forloop.index -%}
                        {{forloop.index}}: {
                            price_per_bag: "{{desc_prices[0]}}",
                            sell_price: "{{ desc_prices[1] }}",
                            compare_at_price: "{{desc_prices[2]}}",
                            variants: [
                            {% for variant in product.variants %}
                            { 
                              id: {{variant.metafields.subscriptions.discount_variant_id}},
                              flavor: "{{ variant.title | handleize }}"
                            },
                            {% endfor %}
                        ]},
                    {%- endif -%}
                {% endfor %}        
            };
          var isAbtesting = false;
      </script>

  <script>
    $('[data-zp-add-to-cart]').on('click', function(e){
      e.preventDefault();
      e.stopPropagation();
      console.log($(this).closest('form').find('select[name="id"]').val());
      $.ajax({
          type: 'POST',
          url: '/cart/add.js',
          data: {
            id: $(this).closest('form').find('select[name="id"]').val(),
            quantity: 1
          },
          dataType: 'json', 
          success: function (data) {         
            document.location.href="/checkout";
          }      
        }) 
    });

    imageSwiper = new Swiper($('.ytlander-4 .image-slider1'), {
      effect: 'slide',
      loop: true,
      centeredSlides: true,
      slidesPerView: 1,
      spaceBetween: 48,
      navigation: {
        nextEl: '.swiper__button--next1',
        prevEl: '.swiper__button--prev1',
      }
    });

    imageSwiper = new Swiper($('.ytlander-4 .image-slider2'), {
      effect: 'slide',
      loop: true,
      centeredSlides: true,
      slidesPerView: 1,
      spaceBetween: 48,
      autoHeight: true,
      navigation: {
        nextEl: '.swiper__button--next2',
        prevEl: '.swiper__button--prev2',
      }
    });
  
    $('[data-zp-atc-with10]').on('click', function(e){
      e.preventDefault();
      e.stopPropagation();
      const productId = $(this).closest('form').find('select[name="id"]').val();
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        cache: false,
        dataType: 'json',
        success: function (cart) {
          console.log(cart);
          let alreadyHasGift = false;
          for(let i = 0 ; i < cart.items.length; i++) {
            if( cart.items[i].id == 33521835245656) {
              alreadyHasGift = true;
            }
          }

          if(alreadyHasGift) {
            console.log('has gift');
            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: {
                id: productId,
                quantity: 1
              },
              dataType: 'json', 
              success: function (data) {         
                document.location.href="/checkout";
              }      
            }) 
          } else {
            console.log('no gift');
            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: {
                items: [
                  {
                    id: productId,
                    quantity: 1
                  },
                  {
                    quantity: 1,
                    id: 33521835245656,
                  }
                ]
              },
              dataType: 'json', 
              success: function (data) {         
                document.location.href="/checkout";
              }      
            }) 
          }
        }        
      });
      
    });

    $(document).on('click', '[data-anchor-link]', function(e){
    e.preventDefault();
    const anchorLink = $(this).data('anchor-link');
    console.log(anchorLink);
    $('.header__mobile-nav-toggle.opened').trigger('click');
    if(anchorLink == 'reviews') {
      $('html, body').animate({
        scrollTop: $(".ba-8518399")?.offset()?.top - 140
      }, 800);
    }
    if(anchorLink == 'nut_facts') {
      if($(window).width() > 768) {
        const fancybox = new Fancybox([      
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/sour_cream_b72c299c-e1b6-4c42-aeed-f741cf7561a9.png?v=1632747165",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/fiery.png?v=1632747165",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/bbq_cb1cc702-f4fa-4904-b247-9ce0199b25b9.png?v=1632747166",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cheddar_a5e21d4c-e941-40bd-805c-fb4cf485d7ef.png?v=1632747165",
            type: "image",
          }
        ]);
      } else {
        const fancybox = new Fancybox([      
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/sour_cream_27562b47-0a8b-41b9-9c4f-44deef6a061c.png?v=1632747267",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/fiery_8e469471-3c14-4572-920f-c0de0e1a1ea4.png?v=1632747267",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cheddar_edc791e9-f48f-430b-82d6-f2fd3981afac.png?v=1632747267",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/bbq_df487028-4cef-4eb4-80e5-8a7e1f15a4d8.png?v=1632747267",
            type: "image",
          }
        ]);
      }    
    }
    if(anchorLink == 'best_sellers') {
      $('html, body').animate({
        scrollTop: $(".cac-39576347")?.offset()?.top - 200
      }, 800);
    }
    if(anchorLink == 'top_section') {
      $('html, body').animate({
        scrollTop: 0
      }, 800);
    }
  });

  setTimeout(function(){
    $('.product-option--bundle:nth-child(2) input').click();
  }, 100);  

  $(window).scroll(function(){
    console.log();
    if($(window).scrollTop() > 4600) {
      $('.scroll-to-top').removeClass('hide');
    } else {
      $('.scroll-to-top').addClass('hide');
    }

  })

  </script>