<link rel="stylesheet" type="text/css" href="https://cdn03.zipify.com/css/zipifypages.css">
<link rel="stylesheet" type="text/css" href="https://cdn03.zipify.com/c60cbb1f79f607b20a2be961e5bd0827c1299485/stylesheet/pages/0476fffaf2a180a1b6afc9c92eeaf9ed.css">

{%- comment -%}
{% section 'ytlander-section1' %}
{% section 'ytlander-section2' %}
{% section 'ytlander-section3-b' %}
{% section 'ytlander-section4' %}
{% section 'ytlander-section5' %}
{% section 'ytlander-section6' %}
{% section 'ytlander-section7' %}
{% section 'ytlander-section8' %}
{% section 'ytlander-section9' %}
{% section 'ytlander-section10' %}
{% section 'ytlander-section11' %}
{% section 'ytlander-section12' %}
{% section 'product-upper-puffs' %}
{%- endcomment -%}

<style>
  .ytlander-1 {
    padding-bottom: 0;
  }
  #shopify-section-ytlander-section4 .subtitle {
    display: none;
  }
  .also-like {
    margin-bottom: 40px;
  }
  @media (min-width: 768px) {
    .top-table {
      max-width: 710px;
    }
    #shopify-section-ytlander-section7 .seen-in-img {
      margin-bottom: 0;
    }
    #shopify-section-ytlander-section7 .two-column-wrap {
      margin-left: 0;
      margin-right: 0;
    }
    #shopify-section-ytlander-section7 .two-column-wrap .half-column {
      padding: 0;
    }
    .ytlander-7 .two-column-wrap {
      margin-bottom: 0;
    }
    .ytlander-7 .btn {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    .ytlander-7 .two-column-wrap {
      margin-bottom: 0;
    }
    .ytlander-7 .btn {
      margin-top: 5px;
      margin-bottom: 0;
    }
    .ytlander-7 .two-column-wrap .half-column {
      padding: 0;
    }
  }
</style>

<div class="ytlander-1 ytlander-section">
  <div class="container">
    <h2 class="title">Schoolyard Snacks, Keto Cereal vs. Catalina Crunch: <br/>Let's Put It to Rest</h2>
    <div class="rich-content">
      <p>
        Before sharing 9 reasons why over 300,000 men and women are ditching their 'off the charts high in carbs' cereal for Schoolyard Snacks, Keto Cereal… let's have a look at this comparison:
      </p>
    </div>
    <img class="top-table" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/catalina_v4.png?v=1651067406" alt="">
    
    <div class="justuno-embed-widget justuno-embed-widget2" style="background-color: #ffedd1; margin-top: -20px;">
      <div class="pretitle">This Keto Cereal Sold Out 4 Times Already!</div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Static-PB_Coco-Bowl-F_WomensHealth.png?v=1645186866" alt="bowl hand">
      </div>
      
      <a href="https://schoolyardsnacks.com/products/cereal?ut_content=articleD" class="btn">Check Availability</a>
    </div>
    
    <!--  -->
  </div>
  <!-- <div class="best-macros" id="best-macros-img">
    <div class="best-macros-heading container">
      <img class="blob-img1" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/airplane_400x_6c1c7471-6254-44a1-ad42-36ee5896672a_400x_1.png?v=1643036442" alt="blob1">
      <h1 class="section-title center">The Best Macros On The Market</h1>
      <img class="blob-img2" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/heart-arrow_160x_d92dcec0-7417-4a72-a1fa-88ca96ecd505.png?v=1643036453" alt="blob2">
    </div>
    <img class="img-table hide--desktop" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cereal_desktop_3.png?v=1644507818" alt="">
    <img class="img-table hide--mobile" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cereal_desktop_3.png?v=1644507818" alt="">
  </div> -->
</div>

<div id="shopify-section-ytlander-section7" class="shopify-section ytlander-7 ytlander-section"><div class="container">
  <div class="seen-in-img" style="max-width: 270px">
    <img src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC4.png?v=1632159010" alt="seen in">
  </div>
  <div class="two-column-wrap">
    <div class="half-column">
      <div class="pretitle" style="max-width: 100%; margin-bottom: 20px;">If you’re a big snacker who’s serious about ditching sugar n’ carbs, here’s 9 ways this helps you… ‘keep it healthy’ and still get ahead on Keto or Low Carb:</div>
        <div class="block-item">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title">1 and 2g net carbs 🤩</div>
            <div class="block-item-subtitle">so you can devour these without falling out of ketosis</div>
          </div>
        </div>
      
        <div class="block-item">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title">Each bag is only 100 calories or less</div>
            <div class="block-item-subtitle">(nearly half your average protein bar).</div>
          </div>
        </div>
      
        <div class="block-item">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title">High protein 💪</div>
            <div class="block-item-subtitle">so you can stay full for hours.</div>
          </div>
        </div>
      
        <div class="block-item">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title">Sugar free. </div>
            <div class="block-item-subtitle">The right amount of sweetness thanks to monkfruit (No weird ingredients. No stevia or artificial after taste).</div>
          </div>
        </div>
      
        <div class="block-item">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title"></div>
            <div class="block-item-subtitle">💯 Crunchiness that leaves you feeling like you’re cheating (but you’re not)</div>
          </div>
        </div>
      
        <div class="block-item">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title">4 tasty flavors</div>
            <div class="block-item-subtitle">so you can pick your favorite or even mix two (Cocoa and PB are such a good combo)</div>
          </div>
        </div>

        <div class="block-item hide--desktop">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title"></div>
            <div class="block-item-subtitle">Feel like a kid again as you devour it with unsweetened almond milk, add it on top of yogurt for that extra crunch…</div>
          </div>
        </div>
  
        <div class="block-item hide--desktop">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title"></div>
            <div class="block-item-subtitle">Or my favorite: no milk. Yes, eating it straight out of the bag (from hungry to happy in a snap)</div>
          </div>
        </div>
        
        <div class="block-item hide--desktop">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
          <div class="block-content">
              <div class="block-item-title"></div>
            <div class="block-item-subtitle">Did I already say it’s 95% less carbs than regular, sugar-loaded cereal?</div>
          </div>
        </div>
      
    </div>   
    <div class="half-column">
      <img class="main-img" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/ic6sIA4w_large.jpeg?v=1598397509" alt="review image">            
      
      <div class="block-item hide--mobile">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
        <div class="block-content">
            <div class="block-item-title"></div>
          <div class="block-item-subtitle">Feel like a kid again as you devour it with unsweetened almond milk, add it on top of yogurt for that extra crunch…</div>
        </div>
      </div>

      <div class="block-item hide--mobile">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
        <div class="block-content">
            <div class="block-item-title"></div>
          <div class="block-item-subtitle">Or my favorite: no milk. Yes, eating it straight out of the bag (from hungry to happy in a snap)</div>
        </div>
      </div>
      
      <div class="block-item hide--mobile">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/SEC6_checkmark.png?v=1632161936" alt="Checkmark Image">
        <div class="block-content">
            <div class="block-item-title"></div>
          <div class="block-item-subtitle">Did I already say it’s 95% less carbs than regular, sugar-loaded cereal?</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="t-content hide--desktop"><p>Anytime I show <a href="#ingredients" title="#ingredients" class="navigable">the ingredients</a> label to a group of friends two things happen:</p><p>First, they take one bite and wait -- expecting it to taste like ‘health food’ (you know, the bland flavored food that’s often as exciting as a visit to the dentist)…</p><p>…but instead, it fires up their taste buds.</p></div> -->
  <a href="https://schoolyardsnacks.com/products/cereal" class="btn navigable no-offset">Pick Your Flavors</a>
</div>

<!--  -->
</div>

<div id="shopify-section-ytlander-section4" class="shopify-section ytlander-4 ytlander-section">
  <div class="container ">
    <h2 class="title">Join Over 300,000 People Already Enjoying The Guilt-free Crunch!</h2>  
    <div class="review-images hide--mobile">
      <div class="half-column">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/edge.png?v=1631932190" alt="review image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/laura.png?v=1646076129" alt="review image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jennifer_1341f460-99ca-4cc2-915f-1f77b4697fb0.png?v=1646076129" alt="review image">
        
      </div>
      <div class="half-column">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jewel.png?v=1631932205" alt="review image">    
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/alice.png?v=1631932247" alt="review image">    
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jess_1ac64593-878d-4f9c-ba05-cc63e7aa1fe2.png?v=1631932269" alt="review image">    
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/vicki.png?v=1646076129" alt="review image">
      </div>   
    </div>    
    <a href="https://schoolyardsnacks.com/products/cereal" class="btn btn-flavor-select hide--mobile">Choose Your Flavors</a>
    <div class="image-slider2 image-slider social hide--desktop">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/edge.png?v=1631932190" alt="review image">
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jewel.png?v=1631932205" alt="review image">    
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/laura.png?v=1646076129" alt="review image">
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/alice.png?v=1631932247" alt="review image">  
        </div>      
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jennifer_1341f460-99ca-4cc2-915f-1f77b4697fb0.png?v=1646076129" alt="review image">
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jess_1ac64593-878d-4f9c-ba05-cc63e7aa1fe2.png?v=1631932269" alt="review image">    
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/vicki.png?v=1646076129" alt="review image">
        </div>
      </div>
      <div class="swiper__button swiper__button--next swiper__button--next2">{% include 'icon', handle: 'next' %}</div>
      <div class="swiper__button swiper__button--prev swiper__button--prev2">{% include 'icon', handle: 'prev' %}</div>
    </div>
    <a href="https://schoolyardsnacks.com/products/cereal" class="btn btn-flavor-select hide--desktop">Choose Your Flavors</a>    
  </div>
</div>
<div class="justuno-embed-widget">
  <div class="pretitle">You've Unlocked</div>
  <div class="title">Secret Flash Sale!</div>
  <div class="countdown-timer">
    <ul>
      <li><span class="hours"></span>Hours</li>
      <span class="seperator">:</span>
      <li><span class="minutes"></span>Minutes</li>
      <span class="seperator">:</span>
      <li><span class="seconds"></span>Seconds</li>
    </ul>
  </div>
  {% if article.handle == "behind-the-scenes/if-you-miss-sour-cream-onion-chips-on-keto-try-this-today" %}
    <a href="https://schoolyardsnacks.com/products/cereal?ut_content=articleD" class="btn">Unlock Coupon</a>
  {% else %}
    <a href="https://schoolyardsnacks.com/products/cereal?ut_content=articleD" class="btn">Unlock Coupon</a>
  {% endif %}
</div>
<div class="also-like">
  <h2 class="title">Featured Products
  </h2>
  <div class="products-wrap container--slim">    
    <div class="product-item">
      <a href="https://schoolyardsnacks.com/products/cereal" class="product-image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cocoa_de18c1be-7001-49a1-8878-3bf3759c4fc0.png?v=1633355028" alt="product image">
      </a>
      <div class="product-title">Cocoa</div>
      <div class="product-subtitle">Keto Cereal</div>
      <div class="product-info">Sugar Free, 1g Net Carb, 100 Calories</div>
      <a class="btn" href="https://schoolyardsnacks.com/products/cereal">Shop Now</a>
    </div>
    <div class="product-item">
      <a href="https://schoolyardsnacks.com/products/cereal" class="product-image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/pb1.png?v=1639583444" alt="product image">
      </a>
      <div class="product-title">Peanut Butter</div>
      <div class="product-subtitle">Keto Cereal</div>
      <div class="product-info">Sugar Free, 2g Net Carb, 100 Calories</div>
      <a class="btn" href="https://schoolyardsnacks.com/products/cereal">Shop Now</a>
    </div>
    <div class="product-item">
      <a href="https://schoolyardsnacks.com/products/cereal" class="product-image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/fruity2.png?v=1639508382" alt="product image">
      </a>
      <div class="product-title">Fruity</div>
      <div class="product-subtitle">Keto Cereal</div>
      <div class="product-info">Sugar Free, 1g Net Carb, 90 Calories</div>
      <a class="btn" href="https://schoolyardsnacks.com/products/cereal">Shop Now</a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>

{% assign product = all_products['cereal'] %}

    <script type="application/json" id="product__json">{{ product | json }}</script>
    <script type="application/json" id="current_variant__json">{{ product.selected_or_first_available_variant | json }}</script>
    <script>
      {% capture doz_products_handles %}{% for i in (1..6) %}|keto-cereal-{{i}}-dozen{% endfor %}{% endcapture %}
        {% assign doz_products_handles = doz_products_handles | replace_first: '|', '' %}
        {% assign doz_products = doz_products_handles | split: '|' %}
        {% assign initial_price_per_bag = "" %}
        {% assign initial_sell_price = "" %}
        {% assign initial_compare_at_price = "" %}
            var dozProducts = {
                {% for item in doz_products %}
                    {%- assign product = all_products[item] -%}
                    //title: {{ product.title }}
                    //handle: {{ product.handle }}
                    {%- assign single_prices = product.description | strip_html | strip_newlines | split: ':SUBSCRIPTION:' | first -%}
                    {%- assign desc_prices = single_prices | split: '|' -%}
                    {%- if forloop.first -%}
                        {%- assign initial_price_per_bag = desc_prices[0] -%}
                        {%- assign initial_sell_price = desc_prices[1] -%}
                        {%- assign initial_compare_at_price = desc_prices[2] -%}
                    {%- endif -%}
                    {%- assign num_of_bags = forloop.index | times: 12 -%}
                    {{forloop.index}}: {
                        price_per_bag: "{{desc_prices[0]}}",
                        calc_price_per_bag: "{{ variant.price | divided_by: num_of_bags | round: 2 }}",
                        sell_price: "{{desc_prices[1]}}",
                        compare_at_price: "{{desc_prices[2]}}",
                        variants: [
                        {% for variant in product.variants %}
                        {id: {{variant.id}}, flavor: "{{ variant.title | handleize }}"},
                        {% endfor %}
                    ]},
                {% endfor %}        
            };
            var dozSubscriptionProducts = {
                {% for item in doz_products %}
                    {%- assign product = all_products[item] -%}//{{sub_item}}
                    //title: {{ product.title }}
                    //handle: {{ product.handle }}
                    {%- if product != blank -%}
                        {%- assign subscription_prices = product.description | strip_html | strip_newlines | split: ':SUBSCRIPTION:' | last -%}
                        {%- assign desc_prices = subscription_prices  | split: '|' -%}
                        {%- if forloop.first or initial_price_per_bag == blank -%}
                            {%- assign initial_price_per_bag = desc_prices[0] -%}
                            {%- assign initial_sell_price = desc_prices[1] -%}
                            {%- assign initial_compare_at_price = desc_prices[2] -%}
                        {%- endif -%}
                        {%- assign num_of_bags = forloop.index | times: 12 -%}
                        {%- assign num_of_doz = forloop.index -%}
                        {{forloop.index}}: {
                            price_per_bag: "{{desc_prices[0]}}",
                            sell_price: "{{ desc_prices[1] }}",
                            compare_at_price: "{{desc_prices[2]}}",
                            variants: [
                            {% for variant in product.variants %}
                            { 
                              id: {{variant.metafields.subscriptions.discount_variant_id}},
                              flavor: "{{ variant.title | handleize }}"
                            },
                            {% endfor %}
                        ]},
                    {%- endif -%}
                {% endfor %}        
            };
          var isAbtesting = false;
      </script>

  <script>
    $('[data-zp-add-to-cart]').on('click', function(e){
      e.preventDefault();
      console.log("prevent test4");
      e.stopPropagation();
      console.log($(this).closest('form').find('select[name="id"]').val());
      $.ajax({
          type: 'POST',
          url: '/cart/add.js',
          data: {
            id: $(this).closest('form').find('select[name="id"]').val(),
            quantity: 1
          },
          dataType: 'json', 
          success: function (data) {         
            document.location.href="/checkout";
          }      
        }) 
    });

    imageSwiper = new Swiper($('.ytlander-4 .image-slider1'), {
      effect: 'slide',
      loop: true,
      centeredSlides: true,
      slidesPerView: 1,
      spaceBetween: 48,
      navigation: {
        nextEl: '.swiper__button--next1',
        prevEl: '.swiper__button--prev1',
      }
    });

    imageSwiper = new Swiper($('.ytlander-4 .image-slider2'), {
      effect: 'slide',
      loop: true,
      centeredSlides: true,
      slidesPerView: 1,
      spaceBetween: 48,
      autoHeight: true,
      navigation: {
        nextEl: '.swiper__button--next2',
        prevEl: '.swiper__button--prev2',
      }
    });
  
    $('[data-zp-atc-with10]').on('click', function(e){
      e.preventDefault();
      console.log("prevent test1");
      e.stopPropagation();
      const productId = $(this).closest('form').find('select[name="id"]').val();
      $.ajax({
        type: 'GET',
        url: '/cart.js',
        cache: false,
        dataType: 'json',
        success: function (cart) {
          console.log(cart);
          let alreadyHasGift = false;
          for(let i = 0 ; i < cart.items.length; i++) {
            if( cart.items[i].id == 33521835245656) {
              alreadyHasGift = true;
            }
          }

          if(alreadyHasGift) {
            console.log('has gift');
            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: {
                id: productId,
                quantity: 1
              },
              dataType: 'json', 
              success: function (data) {         
                document.location.href="/checkout";
              }      
            }) 
          } else {
            console.log('no gift');
            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: {
                items: [
                  {
                    id: productId,
                    quantity: 1
                  },
                  {
                    quantity: 1,
                    id: 33521835245656,
                  }
                ]
              },
              dataType: 'json', 
              success: function (data) {         
                document.location.href="/checkout";
              }      
            }) 
          }
        }        
      });
      
    });

    $(document).on('click', '[data-anchor-link]', function(e){
    e.preventDefault();
    console.log("prevent test2");
    const anchorLink = $(this).data('anchor-link');
    console.log(anchorLink);
    $('.header__mobile-nav-toggle.opened').trigger('click');
    if(anchorLink == 'reviews') {
      $('html, body').animate({
        scrollTop: $(".ba-8518399")?.offset()?.top - 140
      }, 800);
    }

    if(anchorLink == 'nut_facts') {
      if($(window).width() > 768) {
        const fancybox = new Fancybox([      
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/sour_cream_b72c299c-e1b6-4c42-aeed-f741cf7561a9.png?v=1632747165",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/fiery.png?v=1632747165",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/bbq_cb1cc702-f4fa-4904-b247-9ce0199b25b9.png?v=1632747166",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cheddar_a5e21d4c-e941-40bd-805c-fb4cf485d7ef.png?v=1632747165",
            type: "image",
          }
        ]);
      } else {
        const fancybox = new Fancybox([      
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/sour_cream_27562b47-0a8b-41b9-9c4f-44deef6a061c.png?v=1632747267",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/fiery_8e469471-3c14-4572-920f-c0de0e1a1ea4.png?v=1632747267",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cheddar_edc791e9-f48f-430b-82d6-f2fd3981afac.png?v=1632747267",
            type: "image",
          },
          {
            src: "https://cdn.shopify.com/s/files/1/0048/4330/7123/files/bbq_df487028-4cef-4eb4-80e5-8a7e1f15a4d8.png?v=1632747267",
            type: "image",
          }
        ]);
      }    
    }
    if(anchorLink == 'best_sellers') {
      $('html, body').animate({
        scrollTop: $(".cac-39576347")?.offset()?.top - 200
      }, 800);
    }
    if(anchorLink == 'top_section') {
      $('html, body').animate({
        scrollTop: 0
      }, 800);
    }
  });

  setTimeout(function(){
    $('.product-option--bundle:nth-child(2) input').click();
  }, 100);  

  $(window).scroll(function(){
    if($(window).scrollTop() > 2744) {
      $('.scroll-to-top').removeClass('hide');
    } else {
      $('.scroll-to-top').addClass('hide');
    }

    var top_of_element = $(".product__part--form")?.offset()?.top;
    var bottom_of_element = $(".product__part--form")?.offset()?.top + $(".product__part--form").outerHeight();
    var bottom_of_screen = $(window).scrollTop() + $(window).innerHeight();
    var top_of_screen = $(window).scrollTop();

    if ((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)){
      $('.scroll-to-top').addClass('hide');
    }

  })

  </script>

<script>

  (function () {
  var second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let today = new Date(),
      dd = String(today.getDate()).padStart(2, "0"),
      mm = String(today.getMonth() + 1).padStart(2, "0"),
      yyyy = today.getFullYear(),
      nextYear = yyyy + 1,
      dayMonth = "01/01/",
      birthday = dayMonth + yyyy;
  
  today = mm + "/" + dd + "/" + yyyy;
  if (today > birthday) {
    birthday = dayMonth + nextYear;
  }
  //end
  
    const countDown = new Date().getTime() + 3*3600*1000,
    x = setInterval(function() {    

      const now = new Date().getTime(),
            distance = countDown - now;

        if(distance < 0) {
          countDown = new Date().getTime() + 3*3600*1000
        }


        $('.hours').each(function(){
          
          $(this).text(Math.floor((distance % (day)) / (hour)));
        });
        $(".minutes").text(Math.floor((distance % (hour)) / (minute)));
        $(".seconds").text(Math.floor((distance % (minute)) / second));

      
    }, 0)
  }());

</script>